body {
    overflow-x: hidden;
    font-family: 'lato', sans-serif;
    /*background: #F1F8E8;*/
    margin: 0;
    padding: 0;
}
.container-fluid{
    max-width:1280px !important;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.text-muted {
    color: #777777;
}
.text-primary {
    color: #479A5D;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}
a {
    color: #fd8941;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #479a5d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.img-centered {
    margin: 0 auto;
}
.container-fluid{
    padding: 0 5px !important;
}

.navbar-custom .container .search-nav{
    margin: 0;
}
.navbar-custom {
    border-color: #C8E19D;
    border-bottom: 4px solid #C7E19F !important;
    background: #fff !important;
    color: #999 !important;
    height:inherit;
    padding: 0;
}
 .navbar-custom{
        padding-top: 1em;
        margin-bottom: 0;
    }
    .navbar-custom ul{
        background: #54495B;
        margin: 0;
        padding: 0;
    }
.navbar-custom .navbar-nav .affix{
    background-color: #333;
}
.navbar-custom.affix {
    background-color: #54495B;
    padding: 10px 0 0 0;
}
.navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
}
.navbar-custom .navbar-brand {
    color: #479a5d;
    font-family: 'lato', sans-serif;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: transparent;
    border: 1px solid black;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
}
.search-toggle{
    margin-right: 4px !important;
    background: transparent none !important;
    color: #000 !important;
    font-size: 20px !important;
}
.menu-toggle{
    margin-right: 4px !important;
    background: transparent none !important;
    color: #000 !important;
    font-size: 20px !important;
}

/*beggining of right nav*/

.navbar-custom .right-nav{
    margin-right: 0;
}
.navbar-custom .right-nav li{
    margin: 0 0.5em;
}
.navbar-custom .right-nav li a {
    font-family: 'lato', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 15px;
    color: #a8a8a8;
    border-bottom: 4px transparent;
}
.navbar-custom .right-nav li a:hover,
.navbar-custom .right-nav li a:focus {
    color: #a8a8a8;
    border-bottom: 4px solid #8CD7F6;
    transition: .5s ease;
}

/*end of right nav*/

/*beggining of profile nav*/
.navbar-custom .profile-nav li{
    margin: 0 0.3em;
    float: left;
}
.navbar-custom .profile-nav li a {
    border-radius: 100%;
    font-family: 'lato', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 13px;
    color: #a8a8a8;
    background: #F4A69A;
    border-bottom: 4px transparent;
}
.navbar-custom .profile-nav li a img{
    width: 40.85px;
    height: 40px;
    margin:-10px -13px;
}
.navbar-custom .profile-nav li a:hover,
.navbar-custom .profile-nav li a:focus {
    color: #a8a8a8;
    background: #ccc;
    transition: .5s ease;
}
/*end of profile nav*/

::-moz-selection {
    text-shadow: none;
    background: #479A5D;
}
::selection {
    text-shadow: none;
    background: #479A5D;
}
.search_top{
    width: 50px;
    border-radius: 10px;
}
.search-col{
    float: none;
}
.menu-col{
    float: none;
    padding: 5px 0;
}

@media screen and (max-width: 768px){
    .container{
        width: 100% !important;
        margin: 0 !important;
    }
}ul.sponsored-box-container li{
     padding: 5px;
 }
ul.right-nav{
    border: 1px solid black;
    margin: 0;
    padding: 10px;
}
.footer-general{
    margin: 0 2em;
    height:40px;
    border-top:1px solid #d6d6d6;
    padding: 2px 4em 3em;
    color: #bbb;
    font-size: 13px;
}
.footer-general a{
    color: #bbb;
    margin-right: 1em;
}
.footer-general a:last-child{
    margin-right: 0;
}
.sign-up-in{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}
.head-tabs{
    padding: 1em;
    margin: 0;
}
.process{
    padding: 1em 0;
}
.set-profile-picture{
    margin: 3em;
    margin-top: 1em;
}
.set-profile-picture span.help-block{
    margin-top: 0;text-align: left;
}